/*!
*
*
*
*
* start custom stylesheets
*
*
*
*
*
*/


// vars
brand0 = rgba(33, 33, 33,1.0) //#666666
brand1 = rgba(245, 115, 0,1.0) //#f57300
brand2 = rgba(102, 102, 102,1.0) //#666666
brand3 = rgba(17,17,17,1.0) //#111111

// sec1 - 
sec1base = rgba(245,245,245.1.0)
sec1mid = #E3E4E8
sec1fore = rgba(229,229,229,1.0)
sec1dark = #111111
sec1darker = #666666s

// sec2 - 
sec2base = rgba(238,246,237.1.0)
sec2mid = rgb(255, 230, 206)
sec2fore = rgba(221,238,219,1.0)
sec2dark = rgba(135, 53, 33, 0.2)
sec2darker = #f57300



// sec3 - 
sec3base = rgba(233,247,254.1.0)
sec3mid = rgb(247, 219, 211)
sec3fore = rgba(200,234,245,1.0)
sec3dark = rgba(122, 2, 34, 0.1)
sec3darker = #ff4900

// sec4 - 
sec4base = rgba(243,238,247.1.0)
sec4mid = rgb(234, 204, 184)
sec4fore = rgba(237,230,247,1.0)
sec4dark = rgba(170, 117, 0,0.2)
sec4darker = #e08d14

// sec5 - ????
sec5base = rgba(252,247,232.1.0)
sec5mid = rgba(252,248,232,1.0)
sec5fore = rgba(232,216,133,1.0)
sec5dark = rgba(135, 53, 33, 0.2)
sec5darker = #fa6a45

white = rgba(255,255,255,1.0)
whiteAlp90 = rgba(255,255,255,0.9)
whiteAlp75 = rgba(255,255,255,0.75)
whiteAlp50 = rgba(255,255,255,0.5)
whiteAlp25 = rgba(255,255,255,0.25)
whiteAlp10 = rgba(255,255,255,0.1)
whiteAlp05 = rgba(255,255,255,0.05)

black = rgba(0,0,0,1.0)
blackAlp75 = rgba(0,0,0,0.75)
blackAlp55 = rgba(0,0,0,0.55)
blackAlp50 = rgba(0,0,0,0.5)
blackAlp25 = rgba(0,0,0,0.25)
blackAlp10 = rgba(0,0,0,0.1)
blackAlp5 = rgba(0,0,0,0.00)

halfDark = rgba(0,0,0,0.45)
lightGrey = rgba(222,222,222,1.0)
mainBG = rgba(245,245,245,1.0)



padXL = 7vw
padL = 5vw
padM = 3vw
padStd = 1.8vw
padXS = 1.5vw
padXXS = 0.8vw

marXL = 10vw
marL = 5vw
marM = 3vw
marStd = 1.8vw
marXS = 1.5vw
marXXS = 0.8vw



fontStack = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

//responsive breakpoint & media queries
mBreakPoint = 750px
tBreakPoint = 1100px
sdBreakPoint = 1200px
dBreakPoint = 1500px
lgBreakPoint = 1900px

phoneRule = "screen and (max-width: mBreakPoint )"
tabletRule = "screen and (min-width: mBreakPoint) and (max-width: tBreakPoint )"
desktopRule = "screen and (min-width: tBreakPoint) and (max-width: dBreakPoint )"
lgdesktopRule = "screen and (min-width: dBreakPoint)"

smallDesktop = "screen and (min-width: mBreakPoint) and (max-width: sdBreakPoint )"


mtrigger = "screen and (max-width: tBreakPoint )"
ttrigger = "screen and (min-width: mBreakPoint )"
dtrigger = "screen and (min-width: tBreakPoint )"

phLandscape = "screen and (max-width: mBreakPoint) and (orientation: landscape)"
tbLandscape = "screen and (min-width: mBreakPoint) and (max-width: tBreakPoint) and (orientation: landscape)"

ie = "all and (-ms-high-contrast: none), (-ms-high-contrast: active)"

$hideItAll = none !important

// responsive logos
logoDimens = 40vw


// misc blocks
marginNo = @block {
    margin: 0
}
marginM = @block {
    margin-bottom: 2vh
}
marginL = @block {
    margin-left: 2vw
}
marginR = @block {
    margin-right: 2vw
}
marginT = @block {
    margin-bottom: 4vh
}
marginBT = @block {
    margin-bottom: 1.5vh
}
marginVT = @block {
    margin-top: 2vh
    margin-bottom: 2vh
}
marginALL = @block {
    margin: 2vh
}
wh100 = @block {
    width:100%
    height:100%
}
test = @block {
    border:1px solid cyan
}
borderBtm = @block {
    border-bottom: 1px solid brand1
}

// heights
fullH = 100vh
largeH = 85vh
halfH = 50vh
smallH = 25vh

navHeight = 8vh
navHeightL = 11vh
navSpacer = 12vh
navSpacerL = 15vh



// basic defaults
html, body
    width: 100%
    height: 100%
    font-family: 'Poppins', fontStack
body
    font-size: 16px
    // background: linear-gradient(top, white, brand1)
body
    background-color: mainBG
    color: brand0
body > header.sticky
    background-blend-mode: multiply
    /*background: linear-gradient(to right, white,white,whiteAlp50)*/
    background-color: brand0


hr
    border: none
    border-bottom: 1px solid brand0
    margin:0

.noPad
    padding: 0 !important
// blend modes

.brand1
    color: brand1