/*!
* generated using stylus - don't alter
*/

// libs and default 3rd party
@import 'nib'
// setup
@import '../fonts/Inter/interCustom.css'

@require 'defaults.styl'
// block, nav etc
@require 'layout.styl'
// custom elements, icons
@require 'elements.styl'
// typography, links
@require 'typo.styl'
// typography, links
@import '../css/form.css'





/* effects */
.multiply
    background-blend-mode: multiply
    /*background-color: blackAlp25*/
.bgoverlay0
    background-color: blackAlp10 !important
.bgoverlay1
    background-color: blackAlp25 !important
.bgoverlay2
    background-color: blackAlp50 !important
.bgoverlay3
    background-color: blackAlp75 !important

.multiplyBlack
    background-color: brand1
.multiplyRed
    background-color: brand2

.lighten1
    background-color: rgba(255,255,255,0.70)
    background-blend-mode: overlay
    filter:grayscale(80%)
.lighten2
    background-color: rgba(255,255,255,0.50)
    background-blend-mode: overlay
    filter:grayscale(80%)
.greyscale
    background-color: rgba(0,0,0,0.30)
    filter:grayscale(100%)
    transition: 1s
.greyscaleLt
    filter:grayscale(0%)
    transition: 2.5s


.burnColor
    background-blend-mode: color-burn
    opacity: 1.0
.gradient0
    background-blend-mode: multiply
    background: linear-gradient(to right, blackAlp75,blackAlp5, blackAlp5) 
.gradient1
    background-blend-mode: multiply
    background: linear-gradient(to right, brand2, blackAlp50)
.gradient2
    background-blend-mode: multiply
    background: radial-gradient(circle at center, brand0 50%, blackAlp25)    
.gradient3
    background-blend-mode: multiply
    background: radial-gradient(circle at center, blackAlp5,blackAlp5,blackAlp5,blackAlp10, blackAlp25 )
.gradient4
    background-blend-mode: multiply
    background: linear-gradient(180deg, brand0 50%, brand1)
.gradient5
    background-blend-mode: multiply
    background: linear-gradient(to bottom right, rgba(0,0,0,0.0), blackAlp50)  
.gradient6
    background-blend-mode: multiply
    background: linear-gradient(to bottom left, rgba(0,0,0,0.0), blackAlp50)      


.gradientsec2
    background-blend-mode: multiply
    background: linear-gradient(to bottom right, rgba(255,255,255,1.0), sec2base) 
.gradientsec3
    background-blend-mode: multiply
    background: linear-gradient(to bottom left, rgba(255,255,255,1.0), sec3base) 
.gradientsec4
    background-blend-mode: multiply
    background: linear-gradient(to bottom right, rgba(255,255,255,1.0), sec4base) 
.gradientsec5
    background-blend-mode: multiply
    background: linear-gradient(to bottom left, rgba(255,255,255,1.0), sec5base) 
.gradientsec6
    background-blend-mode: multiply
    background: linear-gradient(to bottom right, rgba(255,255,255,1.0), sec6base) 





.blur
    filter:blur(10px)



// last in the cascade - highest prio
.m
    @media screen and (min-width: tBreakPoint)
        display: $hideItAll
.d
    @media screen and (max-width: tBreakPoint)
        display: $hideItAll

